:root {
    --color-card: #333;
    --color-cardbody: white;
}

.card {
    display: flex;
    width: 12rem;
    height: 10rem;
    background: var(--color-card);
    padding: .3rem;
    border-radius: 4px;
    margin-bottom: 2rem;

    &:hover {
        width: 12rem;
        height: 16rem;
        border: 3px solid rgb(0, 239, 195);
        box-shadow: 12px 5px 10px #333;

        .name {
            text-align: center;
            text-transform: uppercase;
        }
    }

    @media (max-width:390px) {
        width: 34rem;
        height: 32rem;
        background: var(--color-cardbody);

        &:hover {
            width: 35rem;
            height: 33rem;
            border: 3px solid rgb(239, 0, 175);
            box-shadow: 12px 5px 10px #333;

        }
    }

}

.card-body {
    width: 100%;
    height: 100%;
    border-radius: 45px 4px 4px 45px;
    background: var(--color-cardbody);
    border: 1px solid #333;
    transition: .4s ease;

    &:hover {
        border-radius: 50%;
        background-color: red;

        .name {
            color: white;
        }
    }

    @media (max-width:390px) {
        background: var(--color-card);

        &:hover{
            .name{
                color: black;
            }
        }
    }
}

.name {
    padding-left: .2rem;
    font-size: 1rem;
    font-weight: 900;
    color: rgb(0, 145, 255);
    @media (max-width:390px) {
        color:white;
    }
}

.imagenes {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}